* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  color: #502050;
}

body {
  position: relative;
}

.bg-images-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-img-top {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-img-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.inhoud-page {
  position: relative;
  padding: 10% 10% 0;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}

.subtext {
  color: #937B92;
  line-height: 24px;
}

.top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}

.top-left {
  width: 35%;
  margin-right: 10%;
}

.top-right {
  width: 35%;
  margin-left: 10%;
}

.stars-item {
  display: flex;
  flex-direction: row;
  padding: 4% 7%;
  background-color: #F7F2F7;
  border-radius: 10px;
  align-items: center;
}

.stars {
  margin-right: 7%;
}

.text-stars {
  font-size: 12px;
  font-weight: 700;
}

.item1 {
  position: relative;
  left: -22%;
}

.item2 {
  position: relative;
  left: -11%;
  margin: 15px 0;
}

.review-blocks-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-block {
  width: 33%;
  background-color: #502050;
  border-radius: 10px;
  overflow: hidden;
  padding: 3%;
}

.block2 {
  margin: 0 3%;
  position: relative;
  top: 20px;
}

.block3 {
  position: relative;
  top: 40px;
}

.top-review {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.profilepic {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 8%;
}

.name {
  font-weight: 700;
  color: white;
}

.verified {
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  color: #937B92;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.review-block-text {
  color: white;
  line-height: 24px;
  font-size: 13px;
}


@media only screen and (max-width: 1024px) {

  h1 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
  }

  .inhoud-page {
    position: relative;
    padding: 8% 8% 0;
  }

  .top-section {
    margin-bottom: 5%;
  }

  .top-left {
    width: 40%;
    margin-right: 5%;
  }

  .top-right {
    width: 40%;
    margin-left: 5%;
  }

  .stars {
    margin-right: 3%;
  }

}

@media only screen and (max-width: 768px) {

  .top-section {
    flex-direction: column;
    text-align: center;
  }

  .top-left {
    width: 100%;
    margin-right: 0;
  }

  .top-right {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .item1, .item2 {
    left: 0;
  }

  .stars-item {
    justify-content: center;
  }

  .review-blocks-container {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .review-block {
    width: auto;
    margin: 3% 0;
    padding: 6%;
  }

  .block2, .block3 {
    top: 0;
  }

}
